<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naključna Beseda</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="container">
        <p id="naslov"><b>ZAGRABI MIKROFON!</b></p>
        <p id="nadpis">Pripravljeni na začetek igre?</p>
        <div id="word">Pritisni za start</div>
        <p id="stetje"></p>
    </div>
    <script src="script.js"></script>
</body>
</html>
