/* Nastavitev osnovnega sloga */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    width: 100%;
}

#naslov {
    font-size: large;
}

#word {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 20px;
    height: 1em; /* Prilagodi višino glede na velikost gumba */
    width: auto; /* Prilagodi glede na vsebino gumba */
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background 0.2s;
}

#play-again-btn {
    display: none; /* Gumb je privzeto skrit */
    margin: auto;
    padding: 15px 30px; /* Velikost gumba */
    font-size: 18px; /* Velikost besedila */
    background-color: gray; /* Obarvaj gumb v rdečo */
    color: white; /* Barva besedila */
    border: none; /* Odstrani obrobe */
    border-radius: 5px; /* Zaobljeni robovi */
    cursor: pointer; /* Kazalec se spremeni v roko */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Senca, ki doda globino */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animacija za spremembo barve in gibanje */
}

#play-again-btn:hover {
    background-color: black; /* Spremeni barvo ob prehodu miške */
    transform: scale(1.1); /* Povečaj gumb ob prehodu miške */
}

#play-again-btn:active {
    background-color: black; /* Barva gumba, ko je kliknjen */
    transform: scale(0.95); /* Rahlo zmanjša gumb, ko je kliknjen */
}

#word:hover {
    transform: scale(1.1);
    background: #e0e0e0;
}

